<?xml version="1.0" encoding="UTF-8"?>
<persistence version="1.0"
       xmlns="http://java.sun.com/xml/ns/persistence">
       <persistence-unit name="money">
               <provider>org.hibernate.ejb.HibernatePersistence</provider>
               <class>br.com.money.model.bean.Gasto</class>
               <class>br.com.money.model.bean.Ganho</class>
               <class>br.com.money.model.bean.TipoGasto</class>
               
               <properties>
                       <property name="hibernate.hbm2ddl.auto" value="create" />
                       <property name="hibernate.show_sql" value="true" />
                       <property name="hibernate.format_sql" value="true" />
                       <property name="javax.persistence.jdbc.driver" value="org.postgresql.Driver"/>
                       <property name="javax.persistence.jdbc.url" value="jdbc:postgresql://localhost:5432/money" />
                       <property name="javax.persistence.jdbc.user" value="postgres" />
                       <property name="javax.persistence.jdbc.password" value="root" />
                       <property name="hibernate.dialect" value="org.hibernate.dialect.PostgreSQLDialect" />
               </properties>

       </persistence-unit>
</persistence>